asgiref==3.11.1
certifi==2026.1.4
charset-normalizer==3.4.7
cloudinary==1.44.2
crispy-bootstrap4==2026.2
distlib==0.4.0
dj-database-url==3.1.2
Django==5.2.11
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-crispy-forms==2.5
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.20.3
gunicorn==25.1.0
idna==3.15
mysqlclient==2.2.8
deep-translator==1.11.4
packaging==26.0
pillow==12.1.1
pipenv==2026.0.3
platformdirs==4.5.1
psycopg2-binary==2.9.12
PyJWT==2.11.0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.7.0
virtualenv==20.36.1
whitenoise==6.12.0
reportlab==4.5.1
resend
